<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css">
</head>

<body ng-app="app">
    <h1>Hello!</h1>

    <div class="container" ng-controller="homeCtrl">
        <table class="table table-striped">
            <tr>
                <td class="text-center">Tarefa</td>
                <td class="text-center">Status</td>
                <td class="text-center">Ação</td>
            </tr>
            <tr ng-repeat="todo in todos">
                <td>{{ todo.title }}</td>
                <td class="text-center">
                    <input type="checkbox" ng-model="todo.done">
                </td>
                <td class="text-center">Ação</td>
            </tr>
        </table>
        <hr>
        <p class="text-center">
            <input type="text" ng-model="todoTitle" class="form-control" placeholder="Adicionar Tarefa">
            <button class="btn btn-success btn-lg" ng-click="add()">Adicionar</button>
        </p>
        <br><br>
        <p class="text-center">
            <button class="btn btn-default btn-lg" ng-click="save()">SALVAR</button>
        </p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
        angular.module('app', []); // Cria um módulo
        
        angular.module('app').controller('homeCtrl', function($scope){
            $scope.todoTitle = '';
            $scope.todos = [
                { title:'Passear com o cachorro', done: false },
                { title:'Happy Hour com a galera', done: true }
            ];
            
            load();
            
            $scope.add = function(){
                $scope.todos.push({ title: $scope.todoTitle, done: false });
            };
            
            $scope.save = function(){
                console.log($scope.todos);
                localStorage.setItem('todos', angular.toJson($scope.todos));
            }
            
            function load(){
                $scope.todos = angular.fromJson(localStorage.getItem('todos'));
            }
        });
    </script>
</body>

</html>